<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page1</title>
    <link rel="stylesheet" href="/styles/main.css"></head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bitter:wght@100&family=Fjalla+One&family=Koulen&family=Lobster&family=M+PLUS+Rounded+1c:wght@300&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
<body>
    <div class="book-img">
        <img src="bgd.jpg">
        <div class="left">
            <div class="t1">
                THE GOOD OLD CHILDHOOD DAYS
            </div>
            <div class="p1">
                <img src="/images/6.jpg">
            </div>
        </div>
        <div class="right">
            <div class="t2">
                A TALE OF <br> FRIENDSHIP
            </div>
            <div class="p2">
                <img src="/images/12.jpg">
            </div>
            <div class="p3">
                <img src="/images/3.jpg">
            </div>
            <div class="p4">
                <img src="/images/4.jpeg">
            </div>
            <div class="t3">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, qui, sit similique voluptates non ex modi 
                autem assumenda perferendis alias facere quibusdam incidunt. Quas debitis, et reprehenderit id tempore aut.
            </div>
        </div>
    </div>
</body>
</html>